<mat-card class="coin-card">
  <mat-card-content fxLayout="row" fxLayoutAlign=" center">
    <p fxFlex="5">{{ rank + 1 }}</p>
    <div fxFlex="20" class="asset">
      <img src="{{ temp.image }}" class="asset__image" alt="{{ temp.name }}" />
      <p class="bold asset__name">{{ temp.name }}</p>
    </div>
    <p
      class="bold"
      [ngClass]="this.raising ? 'raising-price' : 'falling-price'"
      fxFlex="20"
    >
      ${{ temp.current_price | number: "1.2-5" }}
    </p>
    <p
      class="bold"
      fxFlex="10"
      [ngClass]="temp.price_change_percentage_24h > 0 ? 'raising' : 'falling'"
    >
      {{ (temp.price_change_percentage_24h | number: "1.2-2") || "--" }}
    </p>
    <p class="bold" fxFlex="20">${{ temp.market_cap | number }}</p>
    <p class="bold" fxFlex="20">${{ temp.total_volume | number }}</p>
    <p class="bold" fxFlex="20">
      {{ temp.symbol.toUpperCase() }}
      {{ temp.circulating_supply | number: "1.0-0" }}
    </p>
  </mat-card-content>
</mat-card>
