<div class="navbar" fxLayout="row" fxFlexAlign=" center">
  <div class="left">
    <a routerLink="/" class="navbar__logo">Cryptofolio</a>
  </div>
  <div class="navbar__right" fxLayout="row" fxLayoutGap="1.5rem">
    <a
      *ngIf="!isAuthenticated()"
      (click)="openSignInDialog()"
      class="navbar__link"
      >Signin</a
    >

    <a *ngIf="isAuthenticated()" routerLink="/portfolio" class="navbar__link"
      >Your portfolio</a
    >

    <a *ngIf="isAuthenticated()" (click)="signout()" class="navbar__link"
      >Signout</a
    >
  </div>
</div>
