<div *ngIf="!isLoaded" class="layout" fxLayout="column" fxLayoutAlign="center ">
  <div>
    <div fxFlex="30">
      <app-portfolio-news></app-portfolio-news>
    </div>
    <div fxFlex="70">
      <div fxLayout="column" fxLayoutGap="1rem">
        <div
          class="portfolio-head"
          flexLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div fxFlex="20" class="skeleton skeleton-text"></div>
          <div fxFlex="20" class="skeleton skeleton-text"></div>
        </div>
        <div *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          <mat-card class="skeleton-card">
            <mat-card-content fxLayout="row" fxLayoutAlign=" center">
              <div fxFlex="20" class="asset">
                <div class="asset__image skeleton"></div>
                <div class="skeleton skeleton-text"></div>
              </div>
              <div fxFlex="20" class="skeleton skeleton-text"></div>
              <div fxFlex="20" class="skeleton skeleton-text"></div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div #div *ngIf="isLoaded">
  <div fxLayout="row" class="layout dashboard-wrapper" fxLayoutGap="1rem">
    <div fxFlex="30" class="news">
      <app-portfolio-news></app-portfolio-news>
    </div>
    <div *ngIf="selectedPortfolio" fxFlex="70">
      <div fxLayout="column" fxLayoutGap="1rem">
        <app-statistics
          [selectedPortfolio]="selectedPortfolio"
          (changePortfolioEvent)="changePortfolio($event)"
          [portfolios]="portfolios"
        ></app-statistics>
        <div
          *ngIf="selectedPortfolio.transactions.length > 0; else elseblock"
          fxLayout="column"
          fxLayoutAlign="center"
        >
          <mat-card class="transaction-card">
            <mat-card-content fxLayout="row" fxLayoutAlign=" center">
              <div fxFlex="20" class="asset">
                <p class="asset__name">Asset</p>
              </div>
              <p fxFlex="10">Price</p>
              <p fxFlex="10">24H</p>
              <p fxFlex="20">Holdings</p>
              <p fxFlex="20">Investment</p>
              <p fxFlex="20">Profit/Loss</p>
              <p fxFlex="20">Actions</p>
            </mat-card-content>
          </mat-card>

          <div *ngFor="let transaction of selectedPortfolio.transactions">
            <portfolio-coin [transaction]="transaction"></portfolio-coin>
          </div>
        </div>
        <ng-template #elseblock> Add Assets </ng-template>
      </div>

      <div class="button-div">
        <button
          mat-raised-button
          color="primary"
          (click)="openSearchCoinModel()"
        >
          Add Asset
        </button>
      </div>
    </div>

    <div *ngIf="portfolios.length === 0" fxFlex="70">
      <div fxLayout="column" fxLayoutAlign="center ">
        <p>
          You don't have any portfolios. Add Portfolios for better tracking of
          your assets.
        </p>
        <div class="button-div">
          <button
            mat-raised-button
            color="primary"
            (click)="openNewPortfolioModel()"
          >
            Add Portfolio
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
