@use "sass:map";
@use "@angular/material" as mat;

@import "../../../styles";

.asset {
  display: flex;
  align-items: center;
  &__image {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
  }

  &__name {
    margin: 0;
  }
}

p {
  margin: 0;
}

.dashboard-wrapper {
  margin-top: 2rem;
}

.mat-button,
.mat-raised-button {
  line-height: 3rem;
}

.button-div {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.news {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px,
    rgb(88 102 126 / 12%) 0px 1px 2px;
  max-height: 50vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.mat-card-subtitle {
  margin-bottom: 1rem;
}

.asset {
  display: flex;
  align-items: center;
  &__image {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
  }

  &__name {
    margin: 0;
  }
}

.transaction-card {
  border-radius: 0;
}

// .select-panel {
//   .mat-form-field {
//     width: auto !important;
//   }
//   .mat-select-value {
//     max-width: 100%;
//     width: auto;
//   }
// }

.mat-form-field {
  width: 100px;
}
