.asset {
  display: flex;
  align-items: center;
  &__image {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  &__name {
    margin: 0;
  }
}

mat-row,
mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-column-rank {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
}
